.page.theme_light {
  --accent-bg-color: #ff8dcb;
  --main-text-color: #353430;
  --accent-color: #353430;
  --bg-color: #fff1f7;
  --subtitle-color: #343430;
  --title-color: #ffc2e6;

  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-bg-color: #ff8dcb;
    --main-text-color: #353430;
    --accent-color: #353430;
    --bg-color: #fff1f7;
    --subtitle-color: #343430;
    --title-color: #ffc2e6;
  }
}
