/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-bg-color: #ff0070;
  --main-font: "IBM Plex mono";
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --subtitle-color: #000028;
  --accent-font-weight: bold;
  --title-color: #db00ff;
  --page-offset: clamp(10px, 2.7vw, 20px);
}
